{% if ansible_host != 'localhost' %}{{ ansible_host }}{% else %}{{ inventory_hostname }}{% endif %} {{ inventory_hostname_short }}{% if inventory_hostname != inventory_hostname_short %},{{ inventory_hostname }}{% endif %}{% if bootstrap is defined %}{% if bootstrap.ipv4 is defined %},{{ bootstrap.ipv4 }}{% endif %}{% if bootstrap.ipv6 is defined %},{{ bootstrap.ipv6 }}{% endif %}{% endif %}
